*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: rgb(250, 246, 240);
}
.list{
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.btn{
     
    text-align:end;
    
}
.click-btn{
    background-color: rgb(39, 185, 230);
    color:white;
    border-radius: 5px;
    padding: 12px;
    cursor:pointer;
    font-size: 18px;
    padding-left:18px;
    padding-right: 18px;
}
h1{
    text-align:center;
    color:rgba(245, 62, 123, 0.974);

}
.output1{
    height:"500";
    padding:"5";

}
